.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
pip-log.txt
pip-delete-this-directory.txt
data/*.db
data/*.xlsx
logs/*.log
README.md
Dockerfile
docker-compose.yml
nginx.conf
.env
